.confirmation-container {
  padding: 40px 20px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.success-icon {
  margin-bottom: 24px;

  ion-icon {
    font-size: 80px;
  }
}

h1 {
  color: var(--ion-color-success);
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 600;
}

.order-id {
  color: var(--ion-color-medium);
  font-size: 16px;
  margin-bottom: 32px;
}

.actions {
  margin-top: 32px;

  ion-button {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


